<!-- form field -->

<!-- Title field -->
<div>
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= game.name %>" required>
</div>

<!-- Tags field -->
<div class="form-group">
  <label for="tags">Tags</label>
  <input type="text" name="genre" id="tags" value="<%= game.genre %>" required>
</div>

<!-- Shop field -->
<div class="form-group">
  <label for="shop">Shop</label>
  <input type="text" name="shop" id="shop" required value="<%= game.shop %>" required>
</div>

<!-- Completed field -->
<p style="display: inline" >Completed?</p>
  <div style="display: inline" class="form-group">
    <input type="radio" name="completed" value="yes" id="completed">
    <label for="completed">Yes</label>
    <input type="radio" name="completed" value="no" id="notCompleted">
    <label for="notCompleted">No</label>
    <input type="radio" name="completed" value="N/P" id="np">
    <label for="other">N/P</label>
    <input type="radio" name="completed" value="Not completable" id="not_completable">
    <label for="not_completable">Not completable</label>
  </div>

<!-- Notes field -->
<div class="form-group">
  <label for="notes">Notes</label>
  <textarea name="notes" id="notes" cols="30" rows="3"></textarea>
</div>

<!-- Save button -->
<button class="btn btn-primary">Save</button>

<!-- Back button -->
<a href="/" class="btn btn-warning">Back</a>
