<!-- form field -->

<!-- Name field -->
<div>
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
</div>

<!-- Tags field -->
<div class="form-group">
  <label for="tags">Tags</label>
  <textarea name="tags" id="tags" cols="30" rows="3"></textarea>
</div>

<!-- Shop field -->
<div class="form-group">
  <label for="shop">Shop</label>
  <input type="text" name="shop" id="shop">
</div>

<!-- Completed field -->
<p style="display: inline" >Completed?</p>
  <div style="display: inline" class="form-group">
    <input type="radio" name="completed" value="yes" id="completed">
    <label for="completed">Yes</label>
    <input type="radio" name="completed" value="no" id="notCompleted">
    <label for="notCompleted">No</label>
  </div>

<!-- Notes field -->
<div class="form-group">
  <label for="notes">Notes</label>
  <textarea name="notes" id="notes" cols="30" rows="3"></textarea>
</div>