<!-- form field -->

<!-- Name field -->
<div>
  <label for="name">Name</label>
  <input type="text" name="name" id="name">
</div>

<!-- Tags field -->
<div>
  <label for="tags">Tags</label>
  <textarea name="tags" id="tags" cols="30" rows="10"></textarea>
</div>

<!-- Shop field -->
<div>
  <label for="shop">Shop</label>
  <input type="text" name="shop" id="shop">
</div>

<!-- Completed field -->
<div>
  <label for="completed">Completed?</label>
  <input type="checkbox" name="completed" id="completed">
</div>

<!-- Notes field -->
<div>
  <label for="notes">Notes</label>
  <textarea name="notes" id="notes" cols="30" rows="10"></textarea>
</div>