<!-- This view is used to fill in details about the games to save in the database -->

<!DOCTYPE html>
<html lang="en">
  
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

    <title>Insert new game</title>
</head>

<body>
  <div class="container">
    <h1>New game</h1>
    <form action="/articles" method="POST">
      <!-- renders raw html from the _form_fields partial view -->
      <%- include('_form_fields') %>
    </form>
  </div>
</body>

</html>